<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9b893555-edc1-4d1e-8c11-fd6bdbe991c1/resourceGroups/WebAPIFuncionarios/providers/Microsoft.Web/sites/webapifuncionario</ResourceId>
    <ResourceGroup>WebAPIFuncionarios</ResourceGroup>
    <ApiResourceId>/subscriptions/9b893555-edc1-4d1e-8c11-fd6bdbe991c1/resourceGroups/WebAPIFuncionarios/providers/Microsoft.ApiManagement/service/ApiAulaDevapi/apis/ApiAulaDev</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://webapifuncionario.azurewebsites.net/swagger</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>63f2390d-1d91-4007-9810-4f5c4259e5f6</ProjectGuid>
    <MSDeployServiceURL>webapifuncionario.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>webapifuncionario</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$webapifuncionario</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>